name: Build & Deploy with Spin

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: 1.87
        targets: wasm32-wasip1

    - name: Install Spin
      uses: fermyon/actions/spin/setup@v1

    - name: Build and deploy
      uses: fermyon/actions/spin/deploy@v1
      with:
        fermyon_token: ${{ secrets.SPIN_API_TOKEN }}
        variables: |
          username=${{ secrets.username }}
          password=${{ secrets.password }}
